.error-overlay {
    top: 50%;
    left: 50%;
    position: absolute;
}

.error-dialog {
    width: 580px;
    height: 176px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    position: relative;
    margin-left: -290px;
    margin-top: -88px;

    header {
        padding: 24px 24px 0 24px;

        .title {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.75px;
            line-height: 32px;
        }
    }

    section {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 24px;
        color: rgba(0, 0 , 0, 0.54);
        margin-top: 20px;
        padding: 0 24px 24px 24px;
    }

    footer {
        align-items: center;
        padding:  8px;


        .close-button {
            background-color: rgba(0, 0, 0, 0);
            border-bottom-color: #6200ee;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom-style: none;
            border-bottom-width: 0px;
            border-left-style: none;
            border-left-width: 0px;
            border-right-color: #6200ee;
            border-right-style: none;
            border-right-width: 0px;
            border-top-color: #6200ee;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            border-top-style: none;
            border-top-width: 0px;
            color: #6200ee;
            cursor: pointer;
            font-size:  14px;
            font-weight: 600;
            letter-spacing: 0.6px;
            height: 36px;
            padding: 8px 12px;
            text-transform: uppercase;
            float: right;

            &:hover {
                background-color: rgba(98, 0, 238, 0.16);
            }
        }
    }

   
}
